.App {
  text-align: center;
  margin: 50px auto;
  max-width: 800px;
}

.addTaskForm {
  height: 30px;
  display: flex;
  column-gap: 20px;
}

.taskFormInput {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 10px;
}

.taskFormButton {
  width: 100px;
  border: none;
  outline: none;
  background-color: dodgerblue;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
}

.taskBody {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0;
  padding: 10px;
  background-color: #eee;
  border-radius: 4px;
  color: #333;
}

.checkBox {
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.task {
  margin: 0;
  display: flex;
}

.task p {
  margin: 0;
}

.taskFinished {
  color: #aaa;
}

.taskFinished p {
  text-decoration: line-through;
}

.removeButton {
  border: none;
  outline: none;
  background-color: firebrick;
  color: #fff;
  height: 18px;
  width: 18px;
  border-radius: 4px;
  text-align: center;
  padding: 0;
}